<div #map class="h-[60vh] sm:h-[calc(100vh-64px)] bg-red-500"></div>

<section class="h-[40vh] sm:fixed sm:w-[260px] bg-white sm:rounded sm:top-20 sm:left-10 p-5 overflow-y-scroll">
    <h2 class="text-xl font-bold text-black mb-2">Marcadores</h2>

    <div class=" flex flex-col gap-2">
        @for (marker of markers(); track marker.id) {
            <fieldset class="fieldset"
                (click)="flyToMarker(marker.mapMaker.getLngLat())"
                (dblclick)="deleteMarker(marker)"
            >
                <label class="label flex justify-between text-wrap cursor-pointer">
                    <span class="text-black text-xs"> {{ marker.mapMaker.getLngLat() | json }} </span>
                    <input type="radio" name="radioRed" checked="checked"
                        [style]="{
                            color: marker.mapMaker._color,
                            borderColor: marker.mapMaker._color,
                        }"
                        class="radio checked:bg-inherit"
                    />
                    <!-- class="radio checked:bg-red-500 checked:text-red-600 checked:border-red-600"  -->
                </label>
            </fieldset>
        } @empty {
            <div class="flex justify-center items-center bg-blue-100 rounded py-5">
                <p class="text-xs text-secondary">No hay marcadores</p>
            </div>
        }
    </div>
</section>
